# === PostgreSQL ===
POSTGRES_USER=qversity
POSTGRES_PASSWORD=changeme
POSTGRES_DB=qversity_warehouse
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# === Airflow ===
AIRFLOW_UID=50000
AIRFLOW_GID=0
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=changeme_secret_key
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin

# === Source ===
S3_URL=https://qversity-raw-public-data.s3.amazonaws.com/fintech_banking_dataset.json
S3_BUCKET=qversity-raw-public-data
S3_KEY=fintech_banking_dataset.json

# === Spark ===
SPARK_MASTER=local[*]
JDBC_DRIVER_PATH=/opt/spark/jars/postgresql-42.7.3.jar

# === dbt ===
DBT_PROFILES_DIR=/opt/airflow/dbt
DBT_PROJECT_DIR=/opt/airflow/dbt
# Schema for raw Spark outputs (intermediate). dbt reads from here.
SPARK_TARGET_SCHEMA=silver_raw
